// STRING PROBLEMS

// const reverseString = (str) => {
//     let reversedStr = ""
//     for (let index = str.length - 1; index >= 0; index--) {
//         reversedStr += str[index]
//     }
//     return reversedStr
// }

// const str = "hello"
// console.log(reverseString(str))

// 2


// function isPalindrome(str) {
//     let reversedStr = ""
//     for (let index = str.length - 1; index >= 0; index--) {
//         reversedStr += str[index]
//     }

//     return reversedStr === str ? true : false

// }

// console.log(isPalindrome("hello"))
// console.log(isPalindrome("racecar"))
// console.log(isPalindrome("madam"))


// 3

// const countVowels = (str) => {
//     const vowels = "aeiou"
//     let count = 0
//     for (const element of str) {
//         if (vowels.includes(element.toLowerCase())) {
//             count++
//         }
//     }
//     return count
// }


// // const str = "javascript"
// const str = "hellO"
// console.log(countVowels(str))


// 4

// FIRST SOLUTION

// const firstCapitilize = (str) => {
//     const firstChar = str[0].toUpperCase()
//     return firstChar + str.slice(1)
// }

// const str = "javascript"
// console.log(firstCapitilize(str))


// SECOND SOLUTION
// const firstCapitilize = (str) => {
//     const firstChar = str[0].toUpperCase()
//     let restOfStr = ""
//     for (let index = 1; index < str.length; index++) {
//         restOfStr += str[index]
//     }
//     return firstChar + restOfStr
// }

// const str = "javascript"
// console.log(firstCapitilize(str))

// 5

const isAnagram = (str1, str2) => {
    if (str1.length !== str2.length) return false
    const charCount1 = {}
    const charCount2 = {}

    for (let i = 0; i < str1.length; i++) {
        charCount1[str1[i]] = (charCount1[str1[i]] || 0) + 1
    }


    for (let i = 0; i < str2.length; i++) {
        charCount2[str2[i]] = (charCount2[str2[i]] || 0) + 1
    }


    for (const key in charCount1) {
        if (charCount1[key] !== charCount2[key]) {
            return false
        }
    }
    return true

}


const str1 = "integral"
const str2 = "triangle"

console.log(isAnagram(str1, str2))





# ARRAYS 
// function printAll(numbers) {
//     for (let number of numbers) {
//         console.log(number)
//     }
// }

// const numbers = ['Sarah', 'Ahmad']
// printAll(numbers)


// const findMax = (arr) => {
//     let max = arr[0]

//     for (const number of arr) {
//         if (number > max) {
//             max = number
//         }
//     }
//     return max

// }

// const numbers = [3, 7, 2, 9, 4, 20]
// console.log(findMax(numbers))




// const findIndex = (numbers, target) => {
//     for (let index = 0; index < numbers.length; index++) {
//         if (numbers[index] === target) {
//             return index
//         }
//     }
//     return -1

// }

// const numbers = [3, 7, 2, 9, 4, 20]
// console.log(findIndex(numbers, 7))
// console.log(findIndex(numbers, 9))
// console.log(findIndex(numbers, 99))


// const reverseArray = (arr) => {
//     let reversedArray = []
//     for (let index = arr.length - 1; index >= 0; index--) {
//         reversedArray.push(arr[index])
//     }
//     return reversedArray
// }

// const numbers = [3, 7, 2, 9, 4]
// console.log(reverseArray(numbers))


// const getSum = (numbers) => {
//     if (numbers.length === 0) return []
//     let sum = 0
//     for (const element of numbers) {
//         sum += element
//     }
//     return sum
// }
// const numbers = [1, 2, 3, 4, 5]
// console.log(getSum(numbers))


// const findMin = (numbers) => {
//     if (numbers.length === 0) return 0
//     let min = numbers[0]
//     for (const element of numbers) {
//         if (element < min) {
//             min = element
//         }
//     }
//     return min
// }


// const numbers = [3, 7, 2, 9, 4]
// console.log(findMin(numbers))


